/* daypicker-custom.css */
.rdp {
  --rdp-accent-color: #2a9d8f !important; /* color principal (azul → verde) */
  --rdp-background-color: #e0f7fa !important; /* color del día actual */
  --rdp-accent-color-dark: #246370 !important;
}

/* Cambiar encabezados */
.rdp-head_cell {
  color: #246370 !important;
  font-weight: bold !important;
}

/* Día seleccionado */
.rdp-day_selected {
  background-color: #2a9d8f !important; /* verde */
  color: #EACC6A !important;           /* amarillo */
  border-radius: 50% !important;
  border: 2px solid #fff !important;
  margin: 2px !important;              /* separación para que no se encimen */
}

/* Día de hoy */
.rdp-day_today {
  border: 2px solid #246370 !important;
  color: #EACC6A !important;
  border-radius: 50% !important;
  background: #e0f7fa !important;
  font-weight: bold !important;
}

.my-selected {
  background-color: #2a9d8f !important;
  color: #EACC6A !important;
  border-radius: 50% !important;
}

.my-today {
  border: 2px solid #246370 !important;
  background: #e0f7fa !important;
  color: #EACC6A !important;
    border-radius: 50% !important;
}

.rdp-nav_button {
  color: #43a047 !important; /* Cambia #43a047 por el color que desees */
  fill: #43a047 !important;
  transition: color 0.2s;
}
.rdp-nav_button:hover {
  color: #2a9d8f !important; /* Color al pasar el mouse */
  fill: #2a9d8f !important;
}